<%= link_to(" << Powrót do listy", confrenz_index_path, :class => 'back-link') %>

<div class="subjects show">
  <h2>Szczegóły postu<h2>

  <table summary="Subject detail view">
    <tr>
      <th>Tytuł postu</th>

    </tr>
    <tr>
      <th>Zdjęcie</th>

    </tr>
    <tr>
      <th>Treść</th>

    </tr>
    <tr>
      <th>Stworzony</th>

    </tr>
    <tr>
      <th>Zaktualizowany</th>
      
    </tr>

  </table>
</div>
