<div>
  <p><strong>Lecturer:</strong></p>

  <div id="schedules">
    <%= f.fields_for :lecturers do |lecturer| %>
      <%= render 'lecturer_fields', f: lecturer %>
    <% end %>

    <div class="links">
      <%= link_to_add_association 'add lecturer', f, :lecturers %>
    </div>
  </div>
</div>
