<div>
  <p><strong>comments:</strong></p>

  <div id="schedules">
    <%= f.fields_for :comments do |comment| %>
      <%= render 'comment_fields', f: comment %>
    <% end %>

    <div class="links">
      <%= link_to_add_association 'add scheduls', f, :comments %>
    </div>
  </div>
</div>
