<div>
  <p><strong>Schedules:</strong></p>

  <div id="schedules">
    <%= f.fields_for :arranged_appointments do |arranged_appointment| %>
      <%= render 'arranged_appointment_fields', f: arranged_appointment %>
    <% end %>

    <div class="links">
      <%= link_to_add_association 'add arranged_appointments', f, :arranged_appointments %>
    </div>
  </div>
</div>
