<div>
  <p><strong>questionnaires:</strong></p>

  <div id="schedules">
    <%= f.fields_for :questionnaires do |questionnaire| %>
      <%= render 'questionnaire_fields', f: questionnaire %>
    <% end %>

    <div class="links">
      <%= link_to_add_association 'add questionnaires', f, :questionnaires %>
    </div>
  </div>
</div>
