<div>
  <p><strong>sponsors:</strong></p>

  <div id="schedules">
    <%= f.fields_for :sponsors do |sponsor| %>
      <%= render 'sponsor_fields', f: sponsor %>
    <% end %>

    <div class="links">
      <%= link_to_add_association 'add sponsors', f, :sponsors %>
    </div>
  </div>
</div>
