<div>
  <p><strong>galleries:</strong></p>

  <div id="schedules">
    <%= f.fields_for :galleries do |gallery| %>
      <%= render 'gallery_fields', f: gallery %>
    <% end %>

    <div class="links">
      <%= link_to_add_association 'add galleries', f, :galleries %>
    </div>
  </div>
</div>
