<div>
  <p><strong>notifications:</strong></p>

  <div id="schedules">
    <%= f.fields_for :notifications do |notification| %>
      <%= render 'notification_fields', f: notification %>
    <% end %>

    <div class="links">
      <%= link_to_add_association 'add notifications', f, :notifications %>
    </div>
  </div>
</div>
