<div>
  <p><strong>exhibitors:</strong></p>

  <div id="schedules">
    <%= f.fields_for :exhibitors do |exhibitor| %>
      <%= render 'exhibitor_fields', f: exhibitor %>
    <% end %>

    <div class="links">
      <%= link_to_add_association 'add exhibitor', f, :exhibitors %>
    </div>
  </div>
</div>
