<div>
  <p><strong>partners:</strong></p>

  <div id="schedules">
    <%= f.fields_for :partners do |partner| %>
      <%= render 'partner_fields', f: partner %>
    <% end %>

    <div class="links">
      <%= link_to_add_association 'add partners', f, :partners %>
    </div>
  </div>
</div>
