<div>
  <p><strong>soundings:</strong></p>

  <div id="schedules">
    <%= f.fields_for :soundings do |sounding| %>
      <%= render 'sounding_fields', f: sounding %>
    <% end %>

    <div class="links">
      <%= link_to_add_association 'add soundings', f, :soundings %>
    </div>
  </div>
</div>
