<div class="subjects index">
  <h2>Konferencja<h2>


  <table class='listing' summary="Subject list">
    <tr class="header">
      <th>Tytuł konferencji</th>

    </tr>

    <tr>
      <td><%= @companies.title %> </td>
        <% @companies.schedules.each do |schedule| %>
          <%= schedule.title %>
        <% end %>

        <% @companies.lecturers.each do |lecturer| %>
          <%= lecturer.title %>
        <% end %>

    </tr>

  </table>
</div>
