<div class="table-responsive">
<%=form_for([@confrenz,@confrenz.subjects.build]) do |f| %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Tytuł konferencji</th>
        <th>Treść konferencji</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= f.text_field(:name)%></td>
        <td><%= f.text_field(:hour)%></td>

      </tr>

    </tbody>


  </table>
  <div class="form-buttons">
    <%= f.submit("Potwierdź") %>
  </div>
</div>

<% end %>
