<%= link_to(" << Powrót do listy", confrenz_index_path, :class => 'back-link') %>

<div class="subjects delete">
  <h2>Usunięcie konferencji<h2>

  <%= form_for(@confrenz, :method => 'delete') do |f| %>

    <p> Jesteś pewien, że chcesz usunąć ten post? </p>

    <p class="reference-name"><%= f.confrenz.title %></p>

    <div class="form-buttons">
      <%= f.submit("Usuń Post") %>

    </div>
  <%end%>
</div>
