@import "bootstrap-sprockets";
@import "bootstrap";

.container{
  padding-top: 50px;
}

.container-fluid{

}

.row{

}

.col-md-4{

}
.notice
{
  color: white;
  text-align: right;
}

#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

.link-1 {
    padding: 5px;
    display: none;
}
.link-2 {
    padding: 5px;
    display: none;
}
.link-3 {
    padding: 5px;
    display: none;
}
.link-4 {
    padding: 5px;
    display: none;
}
.link-5 {
    padding: 5px;
    display: none;
}
.link-6 {
    padding: 5px;
    display: none;
}
.link-7 {
    padding: 5px;
    display: none;
}
.link-8 {
    padding: 5px;
    display: none;
}
.link-9 {
    padding: 5px;
    display: none;
}
.link-10 {
    padding: 5px;
    display: none;
}
.link-11 {
    padding: 5px;
    display: none;
}
.link-12 {
    padding: 5px;
    display: none;
}
.link-13 {
    padding: 5px;
    display: none;
}
.link-14 {
    padding: 5px;
    display: none;
}
.link-15 {
    padding: 5px;
    display: none;
}
.link-16 {
    padding: 5px;
    display: none;
}
.link-17 {
    padding: 5px;
    display: none;
}
.link-18 {
    padding: 5px;
    display: none;
}
.link-19 {
    padding: 5px;
    display: none;
}
.link-20 {
    padding: 5px;
    display: none;
}
