@import "bootstrap-sprockets";
@import "bootstrap";

.container{
  padding-top: 50px;
}

.container-fluid{

}

.row{

}

.col-md-4{

}
.notice
{
  color: white;
  text-align: right;
}

#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}
#list ul{
  padding: 5px;
  display: none;

}
